<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SaveBite</title>

    <link rel="stylesheet" href="/static/css/order/order-view.css">
</head>
<body>
    <div class="content-wrapper">
        <div class="order-header">
            <div class="order-id">
                <span>Order ID: ABCEDF1234567</span>
            </div>
        </div>
        <div class="order-body">
            <div class="order-view">
                <div class="order-detail-card">
                    <div class="order-detail-header">
                        <div class="card-title">Order Item</div>
                    </div>
                    <div class="order-detail-body">

                    </div>
                </div>
            </div>
            <div class="order-detail-view">
                <div class="order-detail-card">
                    <div class="order-detail-header">
                        <div class="order-detail-card-title">
                            <span class="card-title">Contact Information</span>
                        </div>
                    </div>
                    <div class="order-detail-body">
                        <div class="order-detail-card-list-item">
                            <div class="card-list-item">0930 776 9827</div>
                            <div class="card-list-item">123@gmail.com</div>
                        </div>
                    </div>
                </div>
                <div class="order-detail-card">
                    <div class="order-detail-header">
                        <div class="order-detail-card-title">
                            <span class="card-title">Shipping Address</span>
                        </div>
                    </div>
                    <div class="order-detail-body">
                        <div class="order-detail-card-list-item">
                            <div class="card-list-item">Vladimir Jocson</div>
                            <div class="card-list-item">House number</div>
                            <div class="card-list-item">Street, Subd</div>
                            <div class="card-list-item">City, Province</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>