<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SaveBite</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/order/order-view.css">
</head>
<body>
    <div class="content-wrapper">
        <div class="side-nav">
            <%- include('../partials/side-nav') %>
        </div>
        <div class="main-content">
            <div class="order-header">
                <div class="order-id">
                    <span class="order-id-title">My Cart</span>
                </div>
            </div>
            <div class="order-body">
                <div class="order-view">
                    <div class="order-detail-card">
                        <div class="order-detail-header">
                            <div class="card-title">Order Item</div>
                        </div>
                        <div class="order-detail-body">
                            <div class="order-item-listview">
                                <div class="order-item">
                                    <div class="order-item-left">
                                        <div class="order-item-thumbnail">
                                            thumbnail
                                        </div>
                                        <div class="order-item-details">
                                            <div class="order-item-details-top">
                                                <div class="order-category">
                                                    Category
                                                </div>
                                                <div class="order-item-name">
                                                    Item name
                                                </div>
                                            </div>
                                            <div class="order-item-details-bottom">
                                                <div class="order-additional-details">
                                                    Additional Details | Go Here
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="order-item-right">
                                        <div class="order-item-breakdown">
                                            3 x ₱1,000.00
                                        </div>
                                        <div class="order-item-price-spacer">
                                            |
                                        </div>
                                        <div class="order-item-total-price">
                                            ₱3,000.00
                                        </div>
                                        <div class="order-item-action action-button">
                                            <i class='bx bx-trash'></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-item">
                                    <div class="order-item-left">
                                        <div class="order-item-thumbnail">
                                            thumbnail
                                        </div>
                                        <div class="order-item-details">
                                            <div class="order-item-details-top">
                                                <div class="order-category">
                                                    Category
                                                </div>
                                                <div class="order-item-name">
                                                    Item name
                                                </div>
                                            </div>
                                            <div class="order-item-details-bottom">
                                                <div class="order-additional-details">
                                                    Additional Details | Go Here
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="order-item-right">
                                        <div class="order-item-breakdown">
                                            3 x ₱1,000.00
                                        </div>
                                        <div class="order-item-price-spacer">
                                            |
                                        </div>
                                        <div class="order-item-total-price">
                                            ₱3,000.00
                                        </div>
                                        <div class="order-item-action action-button">
                                            <i class='bx bx-trash'></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-item">
                                    <div class="order-item-left">
                                        <div class="order-item-thumbnail">
                                            thumbnail
                                        </div>
                                        <div class="order-item-details">
                                            <div class="order-item-details-top">
                                                <div class="order-category">
                                                    Category
                                                </div>
                                                <div class="order-item-name">
                                                    Item name
                                                </div>
                                            </div>
                                            <div class="order-item-details-bottom">
                                                <div class="order-additional-details">
                                                    Additional Details | Go Here
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="order-item-right">
                                        <div class="order-item-breakdown">
                                            3 x ₱1,000.00
                                        </div>
                                        <div class="order-item-price-spacer">
                                            |
                                        </div>
                                        <div class="order-item-total-price">
                                            ₱3,000.00
                                        </div>
                                        <div class="order-item-action action-button">
                                            <i class='bx bx-trash'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-detail-card">
                        <div class="order-detail-header">
                            <div class="card-title">Order Summary</div>
                        </div>
                        <div class="order-detail-body">
                            <div class="order-summary-detail-list-view">
                                <div class="order-summary-detail-list-item">
                                    <div class="order-summary-detail-name">Subtotal</div>
                                    <div class="order-summary-detail-additional">9 items</div>
                                    <div class="order-summary-detail-price">₱9,000.00</div>
                                </div>
                                <div class="order-summary-detail-list-item">
                                    <div class="order-summary-detail-name">Shipping Fee</div>
                                    <div class="order-summary-detail-additional">3kg</div>
                                    <div class="order-summary-detail-price">₱100.00</div>
                                </div>
                                <div class="order-summary-detail-list-item">
                                    <div class="order-summary-detail-name order-total-title">Total</div>
                                    <div class="order-summary-detail-additional"></div>
                                    <div class="order-summary-detail-price order-total-price">₱8,100.00</div>
                                </div>
                            </div>
                            <hr class="line-spacer">
                            <div class="order-confirmation">
                                <div class="order-reminder">
                                    Please review your order before confirming purchase
                                </div>
                                <button class="order-confirm-button solid-button">
                                    Confirm Purchase
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-detail-view">
                    <div class="order-detail-card">
                        <div class="order-detail-header">
                            <div class="order-detail-card-title">
                                <div class="card-title">Contact Information</div>
                                <div class="edit-details action-button">
                                    <i class='bx bx-edit-alt' ></i>
                                </div>
                            </div>
                        </div>
                        <div class="order-detail-body">
                            <div class="order-detail-card-list-item">
                                <div class="card-list-item">0930 776 9827</div>
                                <div class="card-list-item">123@gmail.com</div>
                            </div>
                        </div>
                    </div>
                    <div class="order-detail-card">
                        <div class="order-detail-header">
                            <div class="order-detail-card-title">
                                <div class="card-title">Shipping Address</div>
                                <div class="edit-details action-button">
                                    <i class='bx bx-edit-alt' ></i>
                                </div>
                            </div>
                        </div>
                        <div class="order-detail-body">
                            <div class="order-detail-card-list-item">
                                <div class="card-list-item">Vladimir Jocson</div>
                                <div class="card-list-item">House number</div>
                                <div class="card-list-item">Street, Subd</div>
                                <div class="card-list-item">City, Province</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>
</html>