@import "../global.css";

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 2rem;
}

.order-body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1.5rem;
}

.order-detail-view, .order-view {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.order-detail-card {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  padding: 0.75rem;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 3px;
}

.order-detail-card-list-item {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.card-title {
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
}

.card-list-item {
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  color: var(--body-font-color);
}

.order-id-title {
  font-weight: 700;
  font-style: normal;
  font-size: 1.75rem;
}

.order-item-listview {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.order-item-left {
  display: flex;
  gap: 1rem;
}

.order-item-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.order-item-thumbnail {
  width: 100px;
  height: 100px;
}

.order-item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-item-name {
  font-weight: 700;
  font-size: 1.1rem;
}

.order-category {
  font-weight: 400;
  font-size: 0.9rem;  row-gap: 0.5rem;

  color: var(--body-font-color);
}

.order-additional-details {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--body-font-color);
}

.order-item-details-top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.order-item-price-spacer {
  font-weight: 400;
}

.order-item-breakdown {
  color: var(--body-font-color);
}

.order-item-total-price {
  font-weight: 700;
}

.order-summary-detail-list-view {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.order-summary-detail-list-item {
  display: grid;
  grid-template-columns: 5fr 3fr 1fr;
  color: var(--body-font-color);
  font-size: 0.9rem;
}

.order-summary-detail-price {
  text-align: right;
}

.order-total-title {
  font-weight: 700;
  color: var(--header-font-color);
}

.order-total-price {
  font-weight: 700;
  color: var(--header-font-color);
}

.order-confirmation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.order-detail-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.order-reminder {
  font-size: 0.9rem;
  color: var(--body-font-color);
}

.order-detail-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image-list img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

.order-item-action {
  background-color: white;
  border: none;
}